[submodule "ext/kirkshoop/libraries"]
	path = ext/kirkshoop/libraries
	url = https://github.com/kirkshoop/libraries.git
[submodule "ext/Rx"]
	path = ext/Rx
	url = https://git01.codeplex.com/rx
[submodule "ext/cpp-netlib"]

	path = ext/cpp-netlib

	url = https://github.com/cpp-netlib/cpp-netlib.git
